<footer class="page-footer">

  <!-- Footer Elements -->
  <div style="display: inline-flex">
      <a aria-label="Erwan Le Tutour on twitter" target="_blank" rel="noopener" href="https://twitter.com/ErwanLeTutour" title="Twitter">
        <i class='fab fa-twitter'></i>
      </a>
      <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/erwan-le-tutour-32904972/">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    <!-- Social buttons -->
  </div>

  <br><br>

  <!-- Copyright -->
  <div>© 2021-2021 Copyright:
    <a href="https://github.com/ErwanLT/"><i class="fab fa-github"></i> Erwan Le Tutour</a>
  </div>
  <!-- Copyright -->

</footer>
