<div style="display: flex">
  <div class="element {{element.block}}">
    <div class="number">{{element.number}}</div>
    <div class="charge">{{element.common_oxidation_states}}</div>
    <div class="symbol"><a href="{{element.source}}">{{element.symbol}}</a></div>
    <div class="name">{{element.name}}</div>
    <div class="conf">{{element.electron_configuration_semantic}}</div>
    <div class="mass">{{element.atomic_mass}}</div>
  </div>

  <div>
    <div><span class="label">Nom : </span> {{element.name}}</div>
    <div><span class="label">Apparance : </span>{{element.appearance}}</div>
    <div><span class="label">Catégorie : </span>{{element.category}}</div>
    <div><span class="label">Phase : </span>{{element.phase}}</div>
    <div><span class="label">Découvert par : </span>{{element.discovered_by}}</div>
    <div><span class="label">Nommé par : </span>{{element.named_by}}</div>
  </div>
</div>


